@inherits LayoutComponentBase

<div class="app-shell">
    <NavMenu />

    <main class="site-main">
        <article class="content-frame">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">X</a>
</div>
